<h1>SUCCESS!!</h1>

<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
  <p>
      <%= picture.title %>, <%= picture.artist %>
      <!-- = sign outputs a ruby code into the server // without = doesn't output -->
  </p>

  <!-- <img src="<%= picture.url %>"> -->
  <!-- the url or link to this will change from the commented img command above because we to link to each individual picture with unique id -->
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
  <% end %>
