<%= link_to "Back to Pictures", pictures_url %> | <%= link_to "Edit", edit_picture_path(@picture) %> | <%= link_to "Delete", delete_picture_path(@picture), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"} %>
<!-- link_to is rails helper tag to link to things.... first input is the name /// the next is where to -->
<!-- data:confirm is the way of telling Rails you want to popup a dialog box and confirm with the user. method: lets Rails know what HTTP request to use on the URL. -->

<p>
  <%= @picture.title %>, <%= @picture.artist %>
</p>
<!-- <img src="<%= @picture.url %>"> -->
<!-- Using a helper tag like in index.html.erb /// using the iamge_tag -->
<%= image_tag @picture.url %>
